<h1>Welcome to PagePal 📚</h1>

<% Book.all.each do |book| %>
  <div class="p-4 border mb-3">
    <h2><%= link_to book.title, book_path(book) %></h2>

    <% if book.image.attached? %>
      <div>
        <%= image_tag book.image, alt: book.title, size: "200x300" %> <!-- Display the image -->
      </div>
    <% end %>
  </div>
<% end %>
